*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.dark{
    background-color: hsl(230, 17%, 14%);
    color: #fff;
}

.logo{
    border-bottom: 1px solid black;
    padding: 1rem 0;
}

.header{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize;
    margin: .3rem 0;
}

.logo span{
    font-weight: bold;
    opacity: .6;
    font-size: small;
}

.toggle-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.toggle-text{
    font-weight: bold;
    opacity: .6;
}
.label{
    padding: .2rem 1rem;
    display: flex;
    background-color: hsl(228, 39%, 85%);
    border-radius: .8rem;
    cursor: pointer;
}
.ball{
    padding: .5rem .5rem;
    background-color: #fff;
    border-radius: 50%;
    transition: transform .2s ease-out;
    transform: translateX(.8rem);
}
.checkbox{
    position: absolute;
    display: none;
}

.checkbox:checked + .label{
    background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}



.checkbox:checked + .label .ball{
    transform: translateX(-.8rem);
}


/* main */

.section{
    background-color: hsl(227, 47%, 96%);
    text-align: center;
    padding: 1rem 3rem;
    margin: 0;
    cursor: pointer;
    /* transition: transform .2s ease-out; */
}
.section:hover{
    background-color: hsl(228, 39%, 88%);
    /* transform: scale(1.1); */
}

.section.dark{
    background-color: hsl(228, 28%, 20%);
    color: #fff;
}
.section:hover.dark{
    background-color: hsl(230, 17%, 28%);
}

.top{
    margin-top: 2rem;
    padding: .15rem;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.facebook{
    background-color: hsl(208, 92%, 53%);
}
.twitter{
    background-color: hsl(203, 89%, 53%);
}
.instagram{
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.youtube{
    background-color: hsl(348, 97%, 39%);
}


.head-text{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .6;
}
.head-text div{
    margin-left: .5rem;
}
.middle-text{
    margin: 3rem 0;
}
.date{
    font-size: 3rem;
    font-weight: bold;
}

.middle-text span{
    letter-spacing: 5px;
    opacity: .6;
}

.lower-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-text span{
    color: green;
    font-weight: bold;
    opacity: .6;
    margin-left: .5rem;
}
.socials{
    padding: 0;
    margin: 0;
}

/* Overview */
.overview{
    margin-top: 2rem;
}
h3{
    opacity: .6;
    font-size: 1.5rem;
}
.overview-section{
    background-color: hsl(227, 47%, 96%);
    margin-top: 1rem;
    padding: 1rem;
    cursor: pointer;
}
.overview-section:hover{
    background-color: hsl(228, 39%, 88%);
}

.overview-section.dark{
    background-color: hsl(228, 28%, 20%);
    color: #fff;
}
.overview-section.dark:hover{
    background-color: hsl(230, 17%, 28%);
}

.activity{
    font-weight: bold;
    opacity: .6;
}
.top-view,
.lower-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lower-view{
    margin-top: 1rem;
}
.lower-view .number{
    font-size: 2rem;
    font-weight: bold;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon span{
    margin-left: .3rem;font-weight: bold;
}

/* Media Query*/
@media (min-width: 768px){
    body{
        font-size: 14px;
    }
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .logo{
        border: none;
    }

    /* texts */
    .toggle-text{
        margin-right: .5rem;
    }
    .middle-text{
        margin: 1rem 0;
        padding: 0;
    }
    .middle-text .date{
        font-size: 1rem;
    }
    .middle-text span{
        letter-spacing: 1px;
    }
    .lower-text{
        font-size: 10px;
    }
    .section{
        padding: 1rem 0;
    }

    h3{
        grid-column: 1 / -1;
    }

    /* grid sections */
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 1rem;
    }
    .overview{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 1rem;
    }




}


